*
!**/
target
!*.rs
!*.py
!*.sh
!*.tar.bz2
!*.png
!*.yml
!Cargo.toml
!rustfmt.toml
!.gitignore
!README.md
!rfam_seed_stas_v14.4.sth
!train_logs.dat
!train_logs_random_init.dat
!sampled_trnas.fa
!*_elapsed_time_data*.dat
!assets/raf_trained_weights.dat
